<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1 class="mb-3">Личный дневник задач и целей</h1>
      <p>Ваш персональный инструмент для планирования и достижения целей</p>
      <div class="row">
        <div class="col-md-6">
          <a href="/users/register" class="btn btn-primary btn-block mb-2">Регистрация</a>
        </div>
        <div class="col-md-6">
          <a href="/users/login" class="btn btn-secondary btn-block mb-2">Вход</a>
        </div>
      </div>
      <div class="mt-4">
        <h4>Возможности</h4>
        <ul class="list-unstyled">
          <li><i class="fas fa-check text-success"></i> Управление задачами</li>
          <li><i class="fas fa-check text-success"></i> Постановка целей</li>
          <li><i class="fas fa-check text-success"></i> Ежедневное планирование</li>
          <li><i class="fas fa-check text-success"></i> Отслеживание прогресса</li>
          <li><i class="fas fa-check text-success"></i> Организация рабочего процесса</li>
        </ul>
      </div>
    </div>
  </div>
</div>